<div class="card my-3 bg-light border" style="width: 18rem" [hidden]="deleted">
  <a class="card-body" routerLink="/pcs/{{pcs.id}}">
    <h3 class="card-title">
      <a routerLink='/pcs/{{pcs.id}}'>
        {{ pcs.name }}
      </a>

    </h3>
    <p *ngIf="pcs.dimensions.length > 0">Dimensions:</p>
    <ul class="list-group" *ngIf="pcs.dimensions.length > 0">
      <li class="list-group-item" *ngFor="let dimension of pcs.dimensions">
        {{ dimension.name }}
        <!--        <ul class="list-group" *ngIf="dimension.attributes.length > 0">-->
        <!--          <li class="list-group-item" *ngFor="let attribute of dimension.attributes">-->
        <!--            {{ attribute.name }}: {{ attribute.dtype }}-->
        <!--          </li>-->
        <!--        </ul>-->
        <!--        <i *ngIf="dimension.attributes.length == 0">No Attributes</i>-->
      </li>
    </ul>

    <!--    <accordion [isAnimated]="true">-->
    <!--      <accordion-group *ngFor="let dimension of pcs.dimensions" [heading]="dimension.name">-->
    <!--        <ul *ngIf="dimension.attributes.length > 0">-->
    <!--          <li *ngFor="let attribute of dimension.attributes">-->
    <!--            {{ attribute.name }}: {{ attribute.dtype }}-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--        <i *ngIf="dimension.attributes.length == 0">No Attributes</i>-->
    <!--      </accordion-group>-->
    <!--    </accordion>-->

  </a>
  <div class="card-footer">
    <button class="btn btn-danger float-right" (click)="openModal(template)" style="z-index: 99;">Delete</button>
  </div>
</div>


<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete PCS</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure?
    <button class="btn btn-danger float-right" (click)="delete(); modalRef.hide()" style="z-index: 99;">Delete</button>
  </div>
</ng-template>

