<div [hidden]="deleted">
  <div class="row my-2">
    <div class="col">
      <h5>{{ dimension.name }}</h5>
    </div>
    <div class="col">
      <button class="btn btn-danger float-right" (click)="delete()">X</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-10">
          <h6>Attributes:</h6>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let attribute of dimension.attributes">
              <app-attribute [attribute]="attribute" [dimension]="dimension"></app-attribute>
            </li>
            <li class="list-group-item">
              <h6>New Attribute:</h6>
              <form class="form-inline" (ngSubmit)="addAttribute()" #attrForm="ngForm">
                <div class="form-group">
                  <label for="attr_name" class="sr-only">Attribute name</label>
                  <input type="text" class="form-control" id="attr_name" placeholder="Name"
                         [(ngModel)]="newAttribute.name"
                         name="name" required>
                </div>

                <div class="form-group mx-sm-3">
                  <select class="form-control" id="dtype_select" [(ngModel)]="newAttribute.dtype" name="dtype" required>
                    <option value="str">String</option>
                    <option value="float">Number</option>
                    <option value="date">Date</option>
                    <option value="bool">Boolean</option>
                  </select>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="attrForm.invalid">Add Attribute</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
