<div class="card bg-light border">
  <div class="card-header">
    <div class="row">
      <div class="col">
        <p style="font-size: 200%" class="font-weight-bold">{{ dimension.name }}</p>
      </div>
      <div class="col">
        <a class="btn btn-info" [routerLink]="['/pcs', pcs.id, 'dimension', dimension.id]" [state]="{data: {dimension: dimension}}">Details</a>
        <button class="btn btn-danger float-right" (click)="delete()">X</button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <app-attributes-list [dimension]="dimension" [pcs]="pcs"></app-attributes-list>

  </div>
</div>
