<div *ngIf="pcs">
  <h1>{{ pcs.name }}</h1>

  <h2>Dimensions:</h2>
  <ul class="list-group">
    <li class="list-group-item my-3">
      <h6>New Dimension</h6>
      <form class="form-inline" (ngSubmit)="addDimension()" #pcsForm="ngForm">
        <div class="form-group mx-sm-3">
          <label for="dim_name" class="sr-only">Name</label>
          <input class="form-control" type="text" placeholder="Name" id="dim_name" [(ngModel)]="newDimension.name"
                 name="name" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!pcsForm.form.valid">Add</button>
      </form>
    </li>

    <!--    <li class="list-group-item bg-light border" *ngFor="let dimension of pcs.dimensions">-->
    <app-dimension [dimension]="dimension" [pcs]="pcs" *ngFor="let dimension of pcs.dimensions"></app-dimension>
    <!--    </li>-->



    <li class="list-group-item mb-5">
      <div class="col">
        <button class="btn btn-primary float-right">Done</button>
      </div>
    </li>
  </ul>
</div>
<div *ngIf="!pcs" class="mx-auto" style="width: 200px;">
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
