<form class="form-inline" (ngSubmit)="submit()" #form="ngForm">
  <div class="col">
    <input
      type="number"
      class="form-control"
      placeholder="Lower bound"
      [(ngModel)]="lower"
      name="dateStart"
      required>
  </div>
  <div class="col">
    <input
      type="number"
      class="form-control"
      placeholder="Upper bound"
      [(ngModel)]="upper"
      name="upperBound"
      required>
  </div>

  <div class="col-xs">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add</button>
  </div>
</form>
